.slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &.active{
        pointer-events: none;
        opacity: 0.4;
    }

    &__item {
        text-align: center;
        margin: 10px;
        border: 1px solid $white;
        padding: 4px;
        transition: transform 0.2s linear;
        opacity: 0.5;

        &.slick-center {
            transform: scale(1.2);
            opacity: 1;
        }


        &:last-child {
            margin-right: 0;
        }

    }

    &__minutes {
        font-family: $poppins-regular, $sans-serif;
        font-size: 18px;
        line-height: 20px;
        color: $white;

    }
}