//colors
$red: #b22222;
$white: #fff;
//fonts
$poppins-regular: 'Poppins Regular';
$poppins-medium: 'Poppins Medium';
$poppins-semiBold: 'Poppins SemiBold';
$sans-serif: sans-serif;
//bp
$tablet-bp: 1024px;
$mobile-bp: 768px;