.timer {
    background-color: $red;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid blue;
    min-height: 500px;
    padding: 30px;

    &__title {
        font-family: $poppins-semiBold, $sans-serif;
        font-size: 25px;
        line-height: 28px;
        color: $white;
        text-align: center;
        margin-bottom: 40px;
    }

    &__set {
        margin-bottom: 30px;
    }
}






