.timer {
    background-color: $red;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid blue;
    min-height: 500px;
    padding: 30px;

    &__title {
        font-family: $poppins-semiBold, $sans-serif;
        font-size: 25px;
        line-height: 28px;
        color: $white;
        text-align: center;
        margin-bottom: 40px;
    }

    &__set,
    &__break
    {
        margin-bottom: 30px;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__action{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        border: 1px solid $white;
        position: relative;

    }
    &__play,
    &__stop{
        visibility: visible;
        opacity: 1;
        transition: transform 0.2s linear;
        &:hover{
            transform: scale(1.2);
        }
        &.active{
            visibility: hidden;
            position: absolute;
        }
    }


}

.play,
.stop{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play{
    border-top: 20px solid transparent;
    border-left: 40px solid $white;
    border-bottom: 20px solid transparent;

}
.stop{
    border-left: 6px solid $white;
    border-right: 6px solid $white;
    width: 21px;
    height: 40px;



}






